In [ ]:
import sys
!{sys.executable} -m pip install requests

In [26]:
import sys
import os

base_dir = 'c:\\Users\\andyk\\OneDrive\\Documents\\GitHub\\puente-serverless\\puente-analytics-service\\lambdas\\etl'
# pretend you're in the normal directory
os.chdir(base_dir)
print(os.getcwd())

# in order to access all the other stuff
# hate path manipulation so much why can't coding be easy
sys.path.append(base_dir)
sys.path

c:\Users\andyk\OneDrive\Documents\GitHub\puente-serverless\puente-analytics-service\lambdas\etl

['c:\\Users\\andyk\\OneDrive\\Documents\\GitHub\\puente-serverless\\puente-analytics-service\\lambdas\\etl\\notebooks',
 'c:\\Users\\andyk\\AppData\\Local\\Programs\\Python\\Python39\\python39.zip',
 'c:\\Users\\andyk\\AppData\\Local\\Programs\\Python\\Python39\\DLLs',
 'c:\\Users\\andyk\\AppData\\Local\\Programs\\Python\\Python39\\lib',
 'c:\\Users\\andyk\\AppData\\Local\\Programs\\Python\\Python39',
 '',
 'C:\\Users\\andyk\\AppData\\Roaming\\Python\\Python39\\site-packages',
 'C:\\Users\\andyk\\AppData\\Roaming\\Python\\Python39\\site-packages\\win32',
 'C:\\Users\\andyk\\AppData\\Roaming\\Python\\Python39\\site-packages\\win32\\lib',
 'C:\\Users\\andyk\\AppData\\Roaming\\Python\\Python39\\site-packages\\Pythonwin',
 'c:\\Users\\andyk\\AppData\\Local\\Programs\\Python\\Python39\\lib\\site-packages',
 'c:\\Users\\andyk\\OneDrive\\Documents\\GitHub\\puente-serverless\\puente-analytics-service\\lambdas\\etl',
 'c:\\Users\\andyk\\OneDrive\\Documents\\GitHub\\puente-serverless\\puente-analytics-service\\lambdas\\etl']

In [27]:
from sqlalchemy import create_engine
import psycopg2
import json
import pandas as pd

from shared_modules.env_utils import PG_HOST, PG_DATABASE, PG_PORT, PG_USERNAME, PG_PASSWORD

In [28]:
from shared_modules.utils import connection

In [29]:
conn = connection()
cursor = conn.cursor()

In [30]:
engine = create_engine(f'postgresql://{PG_USERNAME}:{PG_PASSWORD}@{PG_HOST}:{PG_PORT}/{PG_DATABASE}')

In [31]:
qry = f"""
SELECT *
FROM community_dim
"""
pd.read_sql(qry, engine)

,uuid,name,city,region,created_at,updated_at
0,d41d8cd9-8f00-b204-e980-0998ecf8427e,,,Lira,2023-12-17 02:14:01.835898,2023-12-17 02:14:01.835898
1,9e984c10-8157-cea7-4c89-4b5cf34efc44,1600,sanfrancisco,None,2023-12-17 02:14:01.835898,2023-12-17 02:14:01.835898
2,4dd68b7c-0344-7caa-5d0d-13cb0b1084fd,24deabril,cevicos,,2023-12-17 02:14:01.835898,2023-12-17 02:14:01.835898
3,2ca4bddd-0d82-36f4-f368-f096ab567d27,25deabril,cevicos,None,2023-12-17 02:14:01.835898,2023-12-17 02:14:01.835898
4,52b90463-98e1-3cb0-a3b6-afb573aa07f3,AFLASO TWAPEASE,Obuasi,ASHANTI,2023-12-17 02:14:01.835898,2023-12-17 02:14:01.835898
...,...,...,...,...,...,...
1053,aef5d57d-044c-7927-ef02-0fb831c69599,élarroyoarriba,Constanza,None,2023-12-17 02:14:01.835898,2023-12-17 02:14:01.835898
1054,64791614-8978-868b-8177-ca0847a27884,élbarriobiyapinale,Constanza,None,2023-12-17 02:14:01.835898,2023-12-17 02:14:01.835898
1055,03bca6da-614b-5eff-6627-5a501d98f2cc,élbarriolatayota,Constanza,None,2023-12-17 02:14:01.835898,2023-12-17 02:14:01.835898
1056,3973e166-0e3c-4c7f-492a-42728a3950fe,élcafe,Constanza,None,2023-12-17 02:14:01.835898,2023-12-17 02:14:01.835898
1057,a21054b3-8a4e-8a20-bd88-64683bdc8a9d,ña,na,None,2023-12-17 02:14:01.835898,2023-12-17 02:14:01.835898

In [70]:
comb_path = "Data/comb_df_HistoryEnvironmentalHealth.csv"
comb_df = pd.read_csv(comb_path)
comb_df

,Unnamed: 0,objectId,surveyingOrganization,surveyingUser,communityname,householdId,createdAt,updatedAt,question,answer
0,0,LIXPBgJcAX,dbc,Clay Prestil Díaz,cachena,NaN,2023-01-28T14:53:07.906Z,2023-03-23T23:08:37.277Z,yearsLivedinthecommunity,NaN
1,1,QI0YMGdNMK,dbc,Junior Patrick,cachena,NaN,2023-01-28T14:53:54.330Z,2023-03-23T23:08:37.277Z,yearsLivedinthecommunity,NaN
2,2,NFaiHLHueT,dbc,Zhamir Rojas,cashena,NaN,2023-01-28T15:01:17.195Z,2023-03-23T23:08:37.277Z,yearsLivedinthecommunity,NaN
3,3,qKXVJjU5bA,Puente,tuchikita202@hotmail.com,Auyama Abajo,NaN,2023-02-11T22:22:29.234Z,2023-03-23T23:08:37.277Z,yearsLivedinthecommunity,NaN
4,4,nuivZNvDsA,Puente,tuchikita202@hotmail.com,lasauyamasarriba,NaN,2023-02-11T22:22:29.234Z,2023-03-23T23:08:37.277Z,yearsLivedinthecommunity,NaN
...,...,...,...,...,...,...,...,...,...,...
570817,570817,RTw08OLqnd,Puente,Cristel Delos Santos,El Convento,NaN,2019-09-01T16:23:57.617Z,2020-05-26T22:53:41.095Z,numberofChildrenLivinginHouseUndertheAgeof5_v2,NaN
570818,570818,RTw08OLqnd,Puente,Cristel Delos Santos,El Convento,NaN,2019-09-01T16:23:57.617Z,2020-05-26T22:53:41.095Z,numberofChildrenLivinginHouseUndertheAgeof5_v2,NaN
570819,570819,RTw08OLqnd,Puente,Cristel Delos Santos,El Convento,NaN,2019-09-01T16:23:57.617Z,2020-05-26T22:53:41.095Z,numberofChildrenLivinginHouseUndertheAgeof5_v2,NaN
570820,570820,RTw08OLqnd,Puente,Cristel Delos Santos,El Convento,NaN,2019-09-01T16:23:57.617Z,2020-05-26T22:53:41.095Z,numberofChildrenLivinginHouseUndertheAgeof5_v2,NaN
570821,570821,RTw08OLqnd,Puente,Cristel Delos Santos,El Convento,NaN,2019-09-01T16:23:57.617Z,2020-05-26T22:53:41.095Z,numberofChildrenLivinginHouseUndertheAgeof5_v2,NaN

In [71]:
import datetime
last_modified_timestamp = os.path.getmtime(comb_path)
datetime.datetime.fromtimestamp(last_modified_timestamp)

datetime.datetime(2023, 12, 17, 20, 54, 29, 549629)

In [72]:
from functools import reduce
cols_to_check = [
        "surveyingUser",
        "communityname",
        "answer"
    ]
missing_ind_dict = {col: comb_df[col].isna() for col in cols_to_check}
missing_rows_dict = {col: comb_df[idx] for col, idx in missing_ind_dict.items()}

conditions = list(missing_ind_dict.values())

# only not na in all check columns
combined_condition = reduce(lambda x, y: ~x & ~y, conditions)


# only not na in all check columns
#combined_condition = reduce(lambda x, y: ~x & ~y, conditions)

combined_condition.value_counts()

False    484407
True      86415
Name: count, dtype: int64

In [74]:
pd.__version__

'2.1.3'

In [73]:
comb_df[combined_condition].shape

(86415, 10)

In [56]:

comb_df['answer'].isna().sum()
print(comb_df.shape[0])

570822

In [ ]:
cols_to_check = [
        "surveyingUser",
        "communityname",
        "answer"
    ]
comb_df[cols_to_check]

In [44]:
merged = pd.read_csv("Data/merged_HistoryEnvironmentalHealth.csv")
merged.head()

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_18756\1035636266.py:1: DtypeWarning: Columns (12,13,18,29,30,32,34,35,36,37,41,42,43,45,53,56,58,59,60,61,62,74,75,76,77,78,84,97,98,103,107,108,109,110) have mixed types. Specify dtype option on import or set low_memory=False.
  merged = pd.read_csv("Data/merged_HistoryEnvironmentalHealth.csv")

,objectId,searchIndex,fname,lname,sex,marriageStatus,educationLevel,communityname,city,province,...,numberofChildrenLivinginHouseUndertheAgeof5_y,parseUser.__type_y,parseUser.className_y,parseUser.objectId_y,medicalproblemswheredoyougo,dentalproblemswheredoyougo,wheretrashleftbetweenpickups,location.__type_y,location.latitude_y,location.longitude_y
0,LIXPBgJcAX,"{florida,cárter,belin,cachena}",Florida,Cárter,female,married,highschool,cachena,consuelo,San Pedro de Macoris,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,QI0YMGdNMK,"{sarolina,carter,oliva,cachena}",Sarolina,Carter,female,married,highschool,cachena,consuelo,San Pedro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NFaiHLHueT,"{elicia,fene,ciane,cashena}",Elicia,Fene,female,single,lessThanprimary,cashena,consuelo,San Pedro de macoris,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,qKXVJjU5bA,"{blanca,ferrera,ibi,""las auyamas abajo""}",Blanca,Ferrera,female,single,college,Auyama Abajo,Constanza,la vega,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,nuivZNvDsA,"{juana,suriel,""las auyamas arriba""}",Juana,Suriel,female,single,lessThanprimary,lasauyamasarriba,Constanza,la vega,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
id_cols = [
        "objectId",
        "surveyingOrganization",
        "surveyingUser",
        "communityname",
        "householdId",
        "createdAt",
        "updatedAt",
    ]

questions = [
    "yearsLivedinthecommunity",
    "yearsLivedinThisHouse",
    "biggestproblemofcommunity_v2",
    "waterAccess",
    "typeofWaterdoyoudrink",
    "bathroomAccess_v2",
    "latrineAccess",
    "clinicAccess_v2",
    "dentalAccess",
    "timesperweektrashcollected",
    "houseownership",
    "conditionoFloorinyourhouse",
    "floorMaterial",
    "conditionoRoofinyourhouse",
    "stoveType",
    "houseMaterial",
    "electricityAccess",
    "foodSecurity",
    "govAssistance",
    "numberofIndividualsLivingintheHouse",
    "numberofChildrenLivinginHouseUndertheAgeof5_v2",
]

In [46]:
qs = merged[id_cols + questions]
qs

,objectId,surveyingOrganization,surveyingUser,communityname,householdId,createdAt,updatedAt,yearsLivedinthecommunity,yearsLivedinThisHouse,biggestproblemofcommunity_v2,...,conditionoFloorinyourhouse,floorMaterial,conditionoRoofinyourhouse,stoveType,houseMaterial,electricityAccess,foodSecurity,govAssistance,numberofIndividualsLivingintheHouse,numberofChildrenLivinginHouseUndertheAgeof5_v2
0,LIXPBgJcAX,dbc,Clay Prestil Díaz,cachena,NaN,2023-01-28T14:53:07.906Z,2023-03-23T23:08:37.277Z,NaN,NaN,"{Water,Street,AccessToBathrooms,Trash}",...,Excellent,{Ceramic},Excellent,gasStove,block,always,No,solidarityCard,NaN,NaN
1,QI0YMGdNMK,dbc,Junior Patrick,cachena,NaN,2023-01-28T14:53:54.330Z,2023-03-23T23:08:37.277Z,NaN,NaN,{Water},...,Working,{Cement},Working,gasStove,woodAndZinc,always,Yes,solidarityCard,NaN,NaN
2,NFaiHLHueT,dbc,Zhamir Rojas,cashena,NaN,2023-01-28T15:01:17.195Z,2023-03-23T23:08:37.277Z,NaN,NaN,{Street},...,Excellent,{Ceramic},Excellent,gasStove,brick,always,not_sure,no_assistance,NaN,NaN
3,qKXVJjU5bA,Puente,tuchikita202@hotmail.com,Auyama Abajo,NaN,2023-02-11T22:22:29.234Z,2023-03-23T23:08:37.277Z,NaN,NaN,{Water},...,Excellent,{Ceramic},Excellent,gasStove,other__Block,always,No,no_assistance,NaN,"{13_18__2,6_12__1}"
4,nuivZNvDsA,Puente,tuchikita202@hotmail.com,lasauyamasarriba,NaN,2023-02-11T22:22:29.234Z,2023-03-23T23:08:37.277Z,NaN,NaN,{Water},...,Excellent,{Cement},Working,gasStove,other__Block,always,Yes,no_assistance,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27177,RTw08OLqnd,Puente,Cristel Delos Santos,El Convento,NaN,2019-09-01T16:23:57.617Z,2020-05-26T22:53:41.095Z,NaN,NaN,NaN,...,dirtPoor,NaN,working,stoveTop,NaN,NaN,NaN,NaN,NaN,NaN
27178,RTw08OLqnd,Puente,Cristel Delos Santos,El Convento,NaN,2019-09-01T16:23:57.617Z,2020-05-26T22:53:41.095Z,NaN,NaN,NaN,...,dirtPoor,NaN,working,stoveTop,NaN,NaN,NaN,NaN,NaN,NaN
27179,RTw08OLqnd,Puente,Cristel Delos Santos,El Convento,NaN,2019-09-01T16:23:57.617Z,2020-05-26T22:53:41.095Z,NaN,NaN,NaN,...,dirtPoor,NaN,working,stoveTop,NaN,NaN,NaN,NaN,NaN,NaN
27180,RTw08OLqnd,Puente,Cristel Delos Santos,El Convento,NaN,2019-09-01T16:23:57.617Z,2020-05-26T22:53:41.095Z,NaN,NaN,NaN,...,dirtPoor,NaN,working,stoveTop,NaN,NaN,NaN,NaN,NaN,NaN
27181,RTw08OLqnd,Puente,Cristel Delos Santos,El Convento,NaN,2019-09-01T16:23:57.617Z,2020-05-26T22:53:41.095Z,NaN,NaN,NaN,...,dirtPoor,NaN,working,stoveTop,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
comb_na = na_df(comb_df)
comb_na

                   index       0   shape   divided
0             Unnamed: 0       0  570822  0.000000
1               objectId       0  570822  0.000000
2  surveyingOrganization       0  570822  0.000000
3          surveyingUser  161679  570822  0.283239
4          communityname    4935  570822  0.008645
5            householdId  389130  570822  0.681701
6              createdAt       0  570822  0.000000
7              updatedAt       0  570822  0.000000
8               question       0  570822  0.000000
9                 answer  282220  570822  0.494410

In [54]:
def na_df(df):
    df_na = df.isna().sum().reset_index()
    df_na['shape'] = df.shape[0]
    df_na['divided'] = df_na[0]/df_na['shape']
    return df_na

# q_na = qs.isna().sum().reset_index()
# q_na['shape'] = merged.shape[0]
# q_na['divided'] = q_na[0]/q_na['shape']
q_na = na_df(qs)
q_na

                                             index      0  shape   divided
0                                         objectId      0  27182  0.000000
1                            surveyingOrganization      0  27182  0.000000
2                                    surveyingUser   7699  27182  0.283239
3                                    communityname    235  27182  0.008645
4                                      householdId  18530  27182  0.681701
5                                        createdAt      0  27182  0.000000
6                                        updatedAt      0  27182  0.000000
7                         yearsLivedinthecommunity  27166  27182  0.999411
8                            yearsLivedinThisHouse  27182  27182  1.000000
9                     biggestproblemofcommunity_v2  20584  27182  0.757266
10                                     waterAccess  27166  27182  0.999411
11                           typeofWaterdoyoudrink    312  27182  0.011478
12                               bathroomAccess_v2  20437  27182  0.751858
13                                   latrineAccess   5273  27182  0.193989
14                                 clinicAccess_v2  20428  27182  0.751527
15                                    dentalAccess  20556  27182  0.756236
16                      timesperweektrashcollected    554  27182  0.020381
17                                  houseownership    632  27182  0.023251
18                      conditionoFloorinyourhouse    378  27182  0.013906
19                                   floorMaterial  20430  27182  0.751600
20                       conditionoRoofinyourhouse    432  27182  0.015893
21                                       stoveType   5015  27182  0.184497
22                                   houseMaterial   8638  27182  0.317784
23                               electricityAccess   8663  27182  0.318704
24                                    foodSecurity   8676  27182  0.319182
25                                   govAssistance   8709  27182  0.320396
26             numberofIndividualsLivingintheHouse  27166  27182  0.999411
27  numberofChildrenLivinginHouseUndertheAgeof5_v2  23823  27182  0.876426

In [ ]:
pd.set_option('display.max_rows', 500)
s = merged.isna().sum().reset_index()
s['shape'] = merged.shape[0]
s['divided'] = s[0]/s['shape']
s

s

In [21]:
from shared_modules.utils import query_bronze_layer
table_name = 'HistoryEnvironmentalHealth'
nosql_df = query_bronze_layer(table_name).rename({"objectId": "objectIdSupp", "client.objectId": "objectId"}, axis=1)
nosql_df

c:\Users\andyk\OneDrive\Documents\GitHub\puente-serverless\puente-analytics-service\lambdas\etl\shared_modules\utils.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = read_sql_query(query, conn)

,objectIdSupp,biggestproblemofcommunity_v2,bathroomAccess_v2,clinicAccess_v2,floorMaterial,numberofChildrenLivinginHouseUndertheAgeof5_v2,yearsLivedinthecommunity,yearsLivedinThisHouse,waterAccess,typeofWaterdoyoudrink,...,numberofChildrenLivinginHouseUndertheAgeof5,parseUser.__type,parseUser.className,parseUser.objectId,medicalproblemswheredoyougo,dentalproblemswheredoyougo,wheretrashleftbetweenpickups,location.__type,location.latitude,location.longitude
0,b5TndNiOiL,{HouseRepairs},{Bathroom},{None},{Ceramic},"{13_18__1,6_12__1}",moreThan10,moreThan10,everyday,bottled,...,None,None,None,None,None,None,None,None,NaN,NaN
1,7vy0Zd2YDO,{HouseRepairs},{Latrine},{Hospital},{Cement},None,moreThan10,moreThan10,everyday,bottled,...,None,None,None,None,None,None,None,None,NaN,NaN
2,drGR2WQE0E,{HouseRepairs},{Latrine},{Hospital},{Cement},None,moreThan10,moreThan10,everyday,bottled,...,None,None,None,None,None,None,None,None,NaN,NaN
3,uihFS7LvWK,{Water},{Bathroom},{Hospital},{Cement},None,moreThan10,moreThan10,everyday,bottled,...,None,None,None,None,None,None,None,None,NaN,NaN
4,P8rxgSEEos,{Water},{Bathroom},{Hospital},{Ceramic},"{13_18__2,6_12__1}",moreThan10,moreThan10,Never,bottled,...,None,None,None,None,None,None,None,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27231,yn3yUTJp9z,None,None,None,None,None,moreThan10,moreThan10,4-6AWeek,bottled,...,None,None,None,None,Hospital,None,Camion de la basura,GeoPoint,0.0,0.0
27232,Ej4DOenEtZ,None,None,None,None,None,moreThan10,moreThan10,2-3AWeek,tap,...,None,None,None,None,Centro medico titi,clinica dental jose armando,Al camion de la basura,GeoPoint,0.0,0.0
27233,YWH1RtjHc1,None,None,None,None,None,5-10,5-10,2-3AWeek,bottled,...,None,None,None,None,hospital,hector brito,calle,GeoPoint,0.0,0.0
27234,BrW8mWBRQ7,None,None,None,None,None,lessThan1,lessThan1,None,None,...,None,None,None,None,None,None,None,GeoPoint,0.0,0.0
27235,SEf21H2I2g,None,None,None,None,None,1-2,1-2,None,None,...,None,None,None,None,None,None,None,GeoPoint,0.0,0.0

In [22]:
n = nosql_df.isna().sum().reset_index()
n['shape'] = nosql_df.shape[0]
n['divde'] = n[0]/n['shape']
n

                                             index      0  shape     divde
0                                     objectIdSupp      0  27236  0.000000
1                     biggestproblemofcommunity_v2  20626  27236  0.757307
2                                bathroomAccess_v2  20479  27236  0.751909
3                                  clinicAccess_v2  20470  27236  0.751579
4                                    floorMaterial  20472  27236  0.751652
5   numberofChildrenLivinginHouseUndertheAgeof5_v2  23873  27236  0.876524
6                         yearsLivedinthecommunity    200  27236  0.007343
7                            yearsLivedinThisHouse    233  27236  0.008555
8                                      waterAccess    367  27236  0.013475
9                            typeofWaterdoyoudrink    321  27236  0.011786
10                                   latrineAccess   5286  27236  0.194081
11                                    dentalAccess  20599  27236  0.756315
12                      timesperweektrashcollected    472  27236  0.017330
13                                  houseownership    649  27236  0.023829
14                      conditionoFloorinyourhouse    390  27236  0.014319
15                       conditionoRoofinyourhouse    446  27236  0.016375
16                                       stoveType   5054  27236  0.185563
17                                   houseMaterial   8680  27236  0.318696
18                               electricityAccess   8705  27236  0.319614
19                                    foodSecurity   8718  27236  0.320091
20                                   govAssistance   8752  27236  0.321339
21             numberofIndividualsLivingintheHouse    528  27236  0.019386
22                                   surveyingUser   8481  27236  0.311389
23                           surveyingOrganization   8444  27236  0.310031
24                                      appVersion  19161  27236  0.703517
25                                         phoneOS  20662  27236  0.758628
26                                       createdAt      0  27236  0.000000
27                                       updatedAt      0  27236  0.000000
28                                   client.__type     12  27236  0.000441
29                                client.className     12  27236  0.000441
30                                        objectId     12  27236  0.000441
31                 parseParentClassObjectIdOffline  26859  27236  0.986158
32                       biggestproblemofcommunity   7337  27236  0.269386
33                                  bathroomAccess  11017  27236  0.404501
34                                    clinicAccess   7443  27236  0.273278
35     numberofChildrenLivinginHouseUndertheAgeof5  16418  27236  0.602805
36                                parseUser.__type  24438  27236  0.897268
37                             parseUser.className  24438  27236  0.897268
38                              parseUser.objectId  24438  27236  0.897268
39                     medicalproblemswheredoyougo   7249  27236  0.266155
40                      dentalproblemswheredoyougo   9684  27236  0.355559
41                    wheretrashleftbetweenpickups   7505  27236  0.275554
42                                 location.__type  18792  27236  0.689969
43                               location.latitude  18792  27236  0.689969
44                              location.longitude  18792  27236  0.689969

In [23]:
survey = query_bronze_layer("SurveyData")
survey

c:\Users\andyk\OneDrive\Documents\GitHub\puente-serverless\puente-analytics-service\lambdas\etl\shared_modules\utils.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = read_sql_query(query, conn)

,objectId,searchIndex,fname,lname,sex,marriageStatus,educationLevel,communityname,city,province,...,numberofChildrenLivingintheHouse,dayMostConvenient,hourMostConvenient,medicalIllnesses2,whenDiagnosed2,whatDoctorDoyousee2,didDoctorRecommend2,treatment2,DentalAssessmentandEvaluation,picture
0,SIChAQ7eHx,"{milagro,silvestre,experimental}",Milagro,Silvestre,female,single,lessThanprimary,experimental,consuelo,San Pedro de Macoris,...,None,None,None,None,None,None,None,None,None,None
1,ABQ62ChkmL,"{rosa,veroa,experimental}",Rosa,Veroa,female,single,lessThanprimary,experimental,consuelo,San Pedro de Macoris,...,None,None,None,None,None,None,None,None,None,None
2,LIXPBgJcAX,"{florida,cárter,belin,cachena}",Florida,Cárter,female,married,highschool,cachena,consuelo,San Pedro de Macoris,...,None,None,None,None,None,None,None,None,None,None
3,QI0YMGdNMK,"{sarolina,carter,oliva,cachena}",Sarolina,Carter,female,married,highschool,cachena,consuelo,San Pedro,...,None,None,None,None,None,None,None,None,None,None
4,NFaiHLHueT,"{elicia,fene,ciane,cashena}",Elicia,Fene,female,single,lessThanprimary,cashena,consuelo,San Pedro de macoris,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34120,8FUiED6BpJ,None,Wade,Wilson,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
34121,xNQXjT1Pwc,None,Thaddeus,Ross,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
34122,5MI5FmQ8lE,None,Jessica,Drew,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
34123,QICSF8tT9J,None,Elvin,Haliday,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
34124,Tj5C8MR6sj,None,Moon,Knight,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [24]:
n_oid = nosql_df['objectId'].unique().tolist()
s_oid = survey['objectId'].unique().tolist()

print(len(n_oid), len(s_oid))

# Elements in list1 but not in list2
unique_elements_list1 = list(set(n_oid) - set(s_oid))

# Elements in list2 but not in list1
unique_elements_list2 = list(set(s_oid) - set(n_oid))

print("Elements in n but not in s:")
print(len(unique_elements_list1))
print("Elements in s but not in n:")
print(len(unique_elements_list2))

23428 34125
Elements in n but not in s:
35
Elements in s but not in n:
10732

In [25]:
unique_elements_list1

['riYLGfkkaB',
 'qDUPTNxfgC',
 'G3MvaEZWGb',
 '68fjFt4DpL',
 'rGfy84UJCt',
 'sdPbSYrGCW',
 'dfWUMgjN9k',
 '9IAbTaArEF',
 'qnCoM8bcLv',
 '8WMWT8Bc7c',
 'DOBFZV45fy',
 'Cp1UkUnpR7',
 'E1WRXhSN6m',
 'SxF4aSzZ8w',
 '0VpSqZMHAo',
 'B1FjFvo5Uf',
 'cPGBBf4whk',
 'QQx1cvmHjY',
 'kZHvsnXeF2',
 'YgcTHgsuIr',
 'htbpQfqaw8',
 'QzL2c0TKBE',
 None,
 'b5aNnMk8ny',
 'hsoqlqOAxn',
 '5r6hMiNrIG',
 'y6DJO1kLFl',
 '5Tnb0sxC5l',
 'fjCsbASCGI',
 '0hEysr3yu3',
 'SJ56rOKvNX',
 'i9euSdXf66',
 'ismz2DCXAI',
 'Hx9djNXz7Z',
 'Q0fbf7yXhs']

In [ ]:
not_in_s